body {
    background-image: url("localresources/fiske.gif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
}
@font-face {
    font-family: Silkscreen; /* set name */
    src: url(localresources/Silkscreen-Regular.ttf); /* url of the font */
}
@font-face {
    font-family: Solari; /* set name */
    src: url(localresources/Solari.ttf); /* url of the font */
}

#erduklardiv {
    font-family: Solari, serif;
    font-size: 50px;
    margin-top: 50px;
    transform: rotate3d(-2, -1, -1, 30deg);
}


#ceasar3box {
    width: 200px;
    font-family: "OCR A Extended", serif;
    text-shadow: 2px 2px crimson;
    margin-top: 200px;
    margin-left: 150px;
    font-size: 25px;

}
#maincontainer{
    display: flex;
    flex-direction: row;

    gap: 25px;

    margin: 0 auto ;
    width: 100%;

}
#leftcontainer {
    width: 33%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: left;
    list-style-type: none;

}
#rightcontainer {
    width: 66%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: right;
    list-style-type: none;
}
