html {
    cursor: url("localresources/momo.png"), auto;
}
body {
    background-image: url("./localresources/realisticbackground.jpg");
    overflow: visible;
}
@font-face {
    font-family: Silkscreen; /* set name */
    src: url(localresources/Silkscreen-Regular.ttf); /* url of the font */
}
@font-face {
    font-family: Daydream;
    src: url(localresources/Daydream.otf);
}
@font-face {
    font-family: Gothik;
    src: url(localresources/Gothik.ttf);
}
@font-face {
    font-family: Punk;
    src: url(localresources/punk.ttf);
}
@keyframes shake{
    0%{
        transform:  rotate(0);
    }
    25%{
        transform:  rotate(5deg);
    }

    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes POP{
    0%{
        transform:  rotate(0);
    }
    25%{
        transform:  rotate(15deg);
    }

    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(15deg);
    }
}
.prosjektcontainer {
    position: relative;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    overflow: visible;
    margin-top: 5px;
    border: 10px solid black;

}
#duocontainer {
    display: flex;
    flex-direction: row;
}
.duo {
    height: 200px;
    width: 200px;
    margin-right: 10px;
}
#p1 {
    background-image: url("./localresources/cardback1.png");

}
#p2 {
    background-image: url("./localresources/cardback2.png");
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;

}
#p3 {
    background-image: url("./localresources/cardback3.jpg");

}
#p4 {
    background-image: url("./localresources/cardback4.jpg");

}
#p5 {
    background-image: url("./localresources/cardback5.jpg");

}
.prosjektcontainer h3 {
    font-family: Daydream, serif;
    color: #61045f;
    justify-self: center;
}
#homebutton {
    position: absolute;
    top: 3%;
    left: 35%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-family: Daydream, serif;
    color: #aa076b;
    font-size: 20px;
    border: none;
    text-shadow: 3px 3px black;

}
#andemorbutton {
    position: absolute;
    top: 82%;
    left: 35%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-family: Daydream, serif;
    color: deepskyblue;
    font-size: 20px;
    border: none;
    text-shadow: 3px 3px black;
}

#neocitiesbutton {
    position: absolute;
    top: 3%;
    left: 65%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-family: Daydream, serif;
    color: yellow;
    font-size: 15px;
    border: none;
    text-shadow: 3px 3px black;
}
#homebutton:hover {
    animation: shake 2s infinite;
}
#andemorbutton:hover {
    animation: shake 2s infinite;
}
#neocitiesbutton:hover {
    animation: shake 2s infinite;
}
#rightTopDiv {
    position: relative;
    overflow: visible;

}
#rightTopDiv:has(#homebutton:hover) #mascot {
    background-image: url("./localresources/mascothoverhome.png");
}
#rightTopDiv:has(#andemorbutton:hover) #mascot {
    background-image: url("./localresources/mascotand.png");
}
#rightTopDiv:has(#neocitiesbutton:hover) #mascot {
    background-image: url("./localresources/mascotneocities.png");
}
#mascot {
    width: 400px;
    height: 800px;
    background-image: url("./localresources/mascot.png");
    background-size: cover;

}

#mainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;

}
#rightdiv {
    width: 50%;
    overflow: visible;
}
#leftDiv {
    width: 50%;
    overflow: visible;
}

#litenbagPOP {
    height: 150px;
    width: 180px;
position: absolute;
    top: 0;
    left: 90%;
}

#arduinoPOP {
    height: 100px;
    width: 150px;
    position: absolute;
    top: -10%;
    left: 10%;
}
#litenbagPOP:hover {
    animation: POP 2s infinite;
}
#arduinoPOP:hover {
    animation: POP 2s infinite;
}
#tripletcontainer {
    display: flex;
    flex-direction: row;
}
.triplet {
    width: 250px;
    height: 250px;
    margin-right: 10px;
}