html {
    cursor: url("localresources/momo.png"), auto;
}
body {
    background-image: url("./localresources/realisticbackground.jpg");
}
@font-face {
    font-family: Silkscreen; /* set name */
    src: url(localresources/Silkscreen-Regular.ttf); /* url of the font */
}
@font-face {
    font-family: Daydream;
    src: url(localresources/Daydream.otf);
}
@font-face {
    font-family: Gothik;
    src: url(localresources/Gothik.ttf);
}
@font-face {
    font-family: Punk;
    src: url(localresources/punk.ttf);
}
.prosjektcontainer {
    position: relative;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    overflow: visible;
    margin-top: 5px;
    border: 10px solid black;

}
#p1 {
    background-image: url("./localresources/cardback1.png");

}
#p2 {
    background-image: url("./localresources/cardback2.png");

}
#p3 {
    background-image: url("./localresources/cardback3.jpg");

}
#p4 {
    background-image: url("./localresources/cardback4.jpg");

}
#p5 {
    background-image: url("./localresources/cardback5.jpg");

}
.prosjektcontainer h3 {
    font-family: Daydream, serif;
    color: #61045f;
    justify-self: center;
}
#homebutton {
    position: absolute;
    top: 3%;
    left: 35%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    font-family: Daydream, serif;
    color: #aa076b;
    font-size: 20px;
    border: none;
    text-shadow: 3px 3px black;

}

#rightTopDiv {
    position: relative;
}
#rightTopDiv:has(#homebutton:hover) #mascot {
    background-image: url("./localresources/mascothoverhome.png");
}
#mascot {
    width: 400px;
    height: 800px;
    background-image: url("./localresources/mascot.png");
    background-size: cover;

}

#mainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;

}
#rightdiv {
    width: 50%;
}
#leftDiv {
    width: 50%;
    overflow: visible;
}
#litenbagPOP {
    height: 150px;
    width: 180px;
position: absolute;
    top: 0;
    left: 90%;
}
#arduinoPOP {
    height: 100px;
    width: 150px;
    position: absolute;
    top: -10%;
    left: 10%;

}