
body {
    background-image: url("localresources/frutigeraero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Silkscreen, serif;

}

@font-face {
    font-family: Silkscreen; /* set name */
    src: url(localresources/Silkscreen-Regular.ttf); /* url of the font */
}
@font-face {
    font-family: Daydream;
    src: url(localresources/Daydream.otf);
}
@font-face {
    font-family: Gothik;
    src: url(localresources/Gothik.ttf);
}
@font-face {
    font-family: Punk;
    src: url(localresources/punk.ttf);
}
#poem {
    background-color: aquamarine;
    text-align: center;

    border-radius: 10px;
    border: solid 3px black;
    margin: 0 auto ;
    height: 250px;
    width: 300px;


}
/* Style the topnav */
ul.topnav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;



}
ul.topnav a {
    display: block;
    color: wheat;
    background-color: darkblue;
    padding: 14px 16px;
    text-decoration: underline;
    text-decoration-style: wavy ;
    font-family: Daydream, serif;
}

ul.topnav a img {
    display: block;
    color: wheat;
    background-color: darkblue;
    padding: 14px 16px;
    text-decoration: underline;
    text-decoration-style: wavy ;
}


#GuestUserTextAndBtn {
    display: flex;
    flex-direction: row;
    font-family: Silkscreen, serif;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}

#GuestUserBtn {
    background-color: greenyellow;
    color: black;
    font-family: Silkscreen, serif;
    border: 2px solid black;
    margin-right: 5px;
}

#shufflebutton {
    background-color: darkblue;
}
.djswaxyrockdiv {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 33%;
    margin-bottom: 20px;
    background-color: darkblue;
    box-shadow: 10px 10px black;
}
#djswaxyrockheader {
    display: flex;
    flex-direction: row;
    color: wheat;
    background-color: darkblue;
    height: 25px;


}
#counterbtn {
    background-color: mediumvioletred;
    font-family: daydream, serif;
    margin: 5px 5px 0 auto;
    height: 25px;
    box-shadow: 2px 2px black;
    border: none;

}
#djswaxyrockheader p {
    padding-left: 10px;
    text-shadow: 1px 1px #aa076b;
}

#djswaxyrockstext {
    justify-self: center;

    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    width: 90%;
    height: 80px;
    text-shadow: 1px 1px black;

}
.CenterBottomDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tarotbutton {
    height: 40px;
    width: 80px;
    background-color: aquamarine;
    text-decoration: underline;
    text-decoration-style: dashed ;
    margin-bottom: 10px;
}


.DiktDiv {
    background-image: url("./localresources/poetrywallpaper.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    white-space: pre-wrap;

    max-height: 300px;  /* Maks høyde før scrollbar dukker opp */
    overflow-y: auto;   /* Lager scrollbar hvis teksten er for lang */
    padding: 10px;      /* Litt luft så teksten ikke klistrer seg til kanten */
    border: 2px solid black; /* Valgfritt: gjør boksen tydeligere */
}
.DiktDiv p {
    color: black;
    background-color: rgba(255,255,255,0.3);
}
#DagensDigt {

    font-family: Punk, serif;
    font-size: 50px;
    margin: auto 30px 0 0;

}
#bromance {

    width: 90%;
}
#radioDiv {
    background-image: url("./localresources/kasetter.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
#radioDiv audio {
    margin-top: 170px;
}
#foxpoemtop {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    align-self: flex-end;


}
#tarotmeaninglink {
    display: none;
    margin-bottom: 10px;
}
#TarotRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#TarotCard1 {

}
#TarotCard2 {

}
#TarotCard3 {

}
.maincontainer{
    display: flex;
    flex-direction: row;

    gap: 25px;

    margin: 0 auto ;
    width: 100%;
    height: 1200px;

}
.headleft{
    display: flex;
    justify-content: left;
    list-style-type: none;
    color: wheat;
    background-color: darkblue;
    padding: 0;


}
.leftbelow {

}
.headright{
    display: flex;
    justify-content: left;
    list-style-type: none;
    color: wheat;
    background-color: darkblue;
    padding: 0;

}
.headright p {
    padding-left: 10px;
    padding-top: 10px;
}
.headcenter{
    display: flex;
    justify-content: left;
    list-style-type: none;
    color: wheat;
    background-color: darkblue;
    padding: 0;

}
.centerdiv{

    border: solid 10px darkblue;
    background-color: blueviolet;
    width: 33%;
    box-shadow: 10px 10px black;
}

.leftdiv{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border: solid 10px darkblue;
    width: 33%;
    box-shadow: 10px 10px black;



}
.topleft {

}
.rightdiv {
    justify-self: right;
    display: flex;
    flex-direction: column;
    width: 33%;

}
.righttopdiv{
    background-color: white;
    border: solid 10px darkblue;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
    box-shadow: 10px 10px black;

}
.ChatDiv {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
}
.rightbottomdiv {
    border: solid 10px darkblue;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    box-shadow: 10px 10px black;
}
#chattext{
    display: flex;
    color: wheat;
    justify-self: left;

}
.centerdiv {
    display: flex;
    flex-direction: column;
}
.CenterBottomDiv {
    display: flex;
    flex-direction: column;
}
#TopTrioHeaderDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#leftHeaderDiv {
    display: flex;
    flex-direction: column;
    width: 33%;

}
#rightHeaderDiv {
    display: flex;
    flex-direction: column;
    width: 33%;

}
.CenterTopDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}
.theDoors {
    color: #1976D2;
}
#githubButton {
    background-image: url("./localresources/githubpixelart.png") ;
    background-color: blueviolet;
    width: 100px; height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
#instaButton {
    background-image: url("./localresources/instagrampixelart.png") ;
    background-color: blueviolet;
    width: 100px; height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
#meowButton {
    background-image: url("./localresources/catpixelart.png") ;
    background-color: blueviolet;
    width: 100px; height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}


#secretbutton {
    width: 50px; height: 30px;
    background-color: deeppink;
    font-family: Silkscreen, serif;
}
#secretinput{
    border: 5px solid darkblue;
    color: deeppink;
    font-family: Silkscreen, serif;
}
#chatplaceholder {
    margin-top: 10px;
}



.GIFS {


    height: 50px;
    width: 50px;
    align-self: flex-end;
    margin-top: auto;


}
a {
    background-color: white;
}

#chatinput{
    width: 256px; height: 58px;
}
#chatbutton {
    width: 64px; height: 64px;
    margin-left: 22px;
}
.ChatDivContent {
    display: flex;
    flex-direction: row;
}
#topchattext{
    text-shadow: 0.5px 0.5px black;
    justify-self: center;
}

#chatlog {

    height: 250px;
    overflow-y: auto;
    width: 100%
}
#chatlog p {
    justify-self: left;
}