body {
    background-image: url("./localresources/discoelysium.png");
    height: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: Gothik;
    src: url(localresources/Gothik.ttf);
}
@font-face {
    font-family: Punk;
    src: url(localresources/punk.ttf);
}
#suprememaincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#maincontainer {

    width: 50%;
    height: 1000px;
    position: relative;
}
#rightcontainer {
    width: 50%;
}
.textDiv {
    width: 80%;
}
.tilted {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: black;
    background-image: url("./localresources/stickynote.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}
.tilted img {
    margin: 10px 10px 10px 10px;
}
.tilted:hover {


    z-index: 10;
    box-shadow: none;

}
#TiltMeDiv1 {
    margin-top: 50px;
    position: absolute;
    left: 5%;
    top: 5%


}
#TiltMeDiv2 {
    margin-top: 50px;
    position: absolute;
    left: 40%;
    top: 25%

}
#TiltMeDiv3 {
    margin-top: 50px;
    position: absolute;
    left: 5%;
    top: 50%

}
#TiltMeDiv4 {
    margin-top: 50px;
    position: absolute;
    left: 30%;
    top: 75%

}
.DiktDiv {
    margin-top: 20px;
    margin-right: 100px;
    background-image: url("./localresources/lettertexture.png");

    background-repeat: no-repeat;
    background-size: contain;
    white-space: pre-wrap;
    width: 900px;
    max-height: 1200px;  /* Maks høyde før scrollbar dukker opp */
    overflow-y: auto;   /* Lager scrollbar hvis teksten er for lang */
    padding: 10px;      /* Litt luft så teksten ikke klistrer seg til kanten */

}
#diktTittel {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 40px;
}
#diktForfatter {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
}
#diktTekst {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 25px;

}
#DagensDigt {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
    font-family: Punk, serif;
}